{% load static %}<script src="{% static 'js/icons.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'js/attendance.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/schedule.js' %}"></script>
<script src="{% static 'js/pages.js' %}"></script>
<script src="{% static 'js/navigation.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
